@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.title {
  font-size: calc(7vw + 1em);
  margin: 0.5rem;
  font-weight: 800;
}

img.sun {
  height: calc(7vw + 3em);
}

.main {
  display: flex;
}

.form-control {
  padding: 3rem;
  overflow: hidden;
  width: 33%;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 0.625rem;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.form-control small {
  visibility: hidden;
  color: #e74c3c;
}

.form-control.error {
  visibility: visible;
}

button {
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  border-radius: 4px;
  display: block;
  color: #333;
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
}

button:hover {
  background-color: #333;
  border: 2px solid #333;
  color: #f7f7f7;
}

.weather {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.location {
  font-size: 3rem;
  font-weight: 600;
}

.description {
  font-size: 1.5rem;
  font-weight: 500;
}

.current-temp,
.feels-like,
.high-temp,
.low-temp,
.humidity {
  font-size: 1.1rem;
}

@media (max-width: 450px) {
  .main {
    flex-direction: column;
  }

  .form-control {
    width: 100%;
  }

  .title {
    font-size: 2rem;
  }
}
